<ul class="list-unstyled components">
    
    <li>
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sub Menu</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <a routerLink="/aluno"  class="navbar-item">
                   Aluno
                </a>
            </li>
            <li>
                <a routerLink="/home"  class="navbar-item">
                    Home
                </a>
            </li>
            <li>
                
            </li>
        </ul>
    </li>
    <li>
        <a href="#funcionalidadeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Funcionalidades</a>
        <ul class="collapse list-unstyled" id="funcionalidadeSubmenu">
            <!-- <li>
                <a routerLink="/modal"  class="navbar-item">
                    Modal
                </a>
            </li>
            <li>
                <a routerLink="/tabela"  class="navbar-item">
                    Tabela
                </a>
            </li>
            <li>
                <a routerLink="/accordion"  class="navbar-item">
                    Accordion
                </a>
            </li>
            <li>
                <a routerLink="/dropdown"  class="navbar-item">
                    DropDown
                </a>
            </li>
            <li>
                <a routerLink="/form"  class="navbar-item">
                    Formulário
                </a>
            </li> -->
            <li>
                <a routerLink="/notificacao"  class="navbar-item">
                    Notificações
                </a>
            </li>
            <li>
                <a routerLink="/blank-page"  class="navbar-item">
                    Página em Branco
                </a>
            </li>
            <li>
                <a routerLink="/table"  class="navbar-item">
                    Tabelas
                </a>
            </li>
            <li>
                <a routerLink="/drop-down"  class="navbar-item">
                    Dropdown
                </a>
            </li>
            <li>
                <a routerLink="/login"  class="navbar-item">
                    Login
                </a>
            </li>
            <li>
                <a routerLink="/accordion"  class="navbar-item">
                    Accordion
                </a>
            </li>
            <li>
                <a routerLink="/modal"  class="navbar-item">
                    Modal
                </a>
            </li>
            <li>
                <a routerLink="/mascara"  class="navbar-item">
                    Máscara
                </a>
            </li>
        </ul>
    </li>
    

    <li>
        <a href="#">Menu</a>
    </li>
    
</ul>
